<h2>Journal Details Page: <%= @journal.name %></h2>
<h4>Year: <%= @journal.year %> </h5>
<h4>Author: <%= @journal.author %> </h4>

<div class="callout panel align-center grid-x">

<% if !@journal.description.nil? %>
  <p>
    <%= @journal.description %>
  </p>
<% end %>
</div>

<hr>
<%= link_to 'Add New Journal Entry', new_journal_entry_path(@journal) %>

<h4>Entries:</h4>


<% @entries.each do |entry| %>
  <p>
    <%= link_to(entry.title, entry_path(entry)) %>
  </p>
<% end %>