<h2>Journal Details Page: <%= @journal.name %></h2>
<h4>Year: <%= @journal.year %> </h5>
<h4>Author: <%= @journal.author %> </h4>

<div class="callout panel align-center grid-x">
  <% if !@journal.description.nil? %>
    <p>
      <%= @journal.description %>
    </p>
  <% end %>
</div>

<h4>Add a New Entry</h4>

<%= form_for([@journal, @entry]) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :body %>
  <%= f.text_field :body %>

  <%= f.submit "Add a New Entry" %>
<% end%>

<h4>Entries:</h4>

<ul>
  <% @entries.each do |entry| %>
    <li>
      <%= link_to entry.title, entry_path(entry) %>
    </li>
  <% end %>
</ul>